<%- include('bootheader') -%>
<body style ="background: DarkMagenta">
<div class="container">
    <div class="row" style ="background: DarkMagenta">
      <br></br>
      <br></br>

      <br></br>

        <div class="col ">
            <br></br>
            <h1>aris riva</h1>
            im a sparkly ghost.
        </div>
        <div class="col ">
          <img src="https://cdn.iconscout.com/icon/free/png-512/witch-105-1074593.png"
           width="30%" alt="witch hat icon" >
        </div>
      </div>
        <p>
          i study computers and how to not have prison.
        </p>
        <p>
          im from the woods.
        </p>

        <div class="bg-grey text-white">
        <h2>
          contact me at
        </h2>
        <ul>
          <li> <a href="http://www.brandeis.edu">arisrivaapple@brandeis.edu</a></li>
          <li> <a href="http://www.cs.brandeis.edu/~tim">theironstarre@gmail.com</a></li>
        </ul>
      </div>
    </div>
</body>


<%- include('bootfooter') -%>
