<%- include('bootheader') -%>
<body style ="background: DarkMagenta">
<div class="container">
    <div class="row" style ="background: DarkMagenta">
      <%- include('bootheader') -%>
      <body style ="background: DarkMagenta">
      <div class="container"> <!-- for the working version of this we'll need a database or local storage -->

          <h1>Your Challenges!!!</h1>
          <h5>(~and points~)</h5>
          <div class="row" style ="background: DarkMagenta">
            <table class="table table-bordered table-striped">
              <!--dude i dont watna table in the final version but gotta homework requirements -->
              <thead>
                <tr>
                  <th></th>
                  <th>socialist giraffe PaRaDe</th>
                  <th>Riku</th>
                  <th>Memphis, Tenesee</th>
                  <th>Your Occaisonal Good Brother</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total Score</td>
                  <td>2345</td>
                  <td>0</td>
                  <td>5125</td>
                  <td>120</td>
                </tr>
                <tr>
                  <td>This Week Points</td>
                  <td>25</td>
                  <td>0</td>
                  <td>25</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>Group Score Completed this Week</td>
                  <td>Yes!!</td>
                  <td>Not Yet</td>
                  <td>Not Yet</td>
                  <td>Yes!!</td>
                </tr>
              </tbody>
            </table>
            </div>
    </div>
</body>


<%- include('bootfooter') -%>
