<h1>About TireHamburger</h1>
TireHmburger is awebsite to keep track of tasks, responsiblities, and project in a particulary social, external, and gamified style

The name is a reference to a practice of enrichment teams in zoos
